h2,h3 {
    color: navy;
}

p {
    color: navy;
}

/* Logo and nav */
.row1 {
    display: flex;
    padding: 10px;
    
}

/* Logo */
.row1column1 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

/* Nav */
.row1column2 {
    display: flex;
    flex: 3;
    justify-content: right;
    align-items: center;
    font-size: 20px;
}

#skip {
    position: absolute;
    left: -999px;
    background-color: navy;
    color: white;
    padding: 5px;
}

#skip:focus {
    left: 400px;
}